.card {
    width: auto;
    background-color: #fff;
    height: 7rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.card-header-left {
    display: flex;
    font-weight: bold;
}

.card-header-left-title {
    margin-left: 0.5rem;
}

.card-body {
    width: fit-content;
    margin-top: 3rem;
}

.card-body p {
    color: #4c494a;
}